@{
    ViewBag.Title = "Home Page";
}
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/utils/Draggable.min.js'></script>

<div id="welcomemessage">
    <button id="add">New image</button>
    <span id="message">
    <p>Drag images up and down to resize<br />
    Drag them off the border to remove<br />
    Press the button to see a new image</p>
    </span>
    
</div>

<div id="list"></div>
<script src="/Scripts/tile.js"></script>
