html {
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
body {
    background: #3A3A4D;
	margin: 15px;
	padding: 0px;
}
*, *:before, *:after {
	box-sizing: border-box;
}
h1 {
    color: #efefef;
    font-weight: normal;
    font-weight: 300;
    margin-bottom: 30px;
}
p {
    color: #efefef;
    font-weight: 700;
    font-size: 80%;
}

#clickcelllogo {
	position: relative; top: 0px;
	width: 200px;
	border-right: 15px;
    overflow:auto;
}
#welcomemessage
{
    width: 100%;
    margin-bottom: 0px;
}
#message{
    margin-left: 215px;
    position: absolute; top: -4px;
    font-family: Georgia, Serif;
    text-shadow: 1px 1px 2px #000000 ;
	font-size: 20px;
	font-style: italic;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
    white-space: nowrap;
}
button {
        font-family: Georgia, Serif;
    text-shadow: 1px 1px 2px #000000 ;
	font-size: 20px;
	font-style: italic;
	font-variant: normal;
	font-weight: 100;
	line-height: 30px;
    position: absolute; top: 20px;
    margin-left: 315px;
    white-space: nowrap;
    float: left;
	padding: 15px 15px;
	box-shadow: none;
	border:thin;
	color: #efefef;
	background-color: rgba(0, 0, 0, 0.3);
}
#licence {
    text-transform: uppercase;
    font-size: 70%;
    font-weight: 100;
    position: fixed;
    bottom: 0;
	display: block;
    text-shadow: 1px 1px 3px #000000 ;
    z-index: 50000;
}

#navigator {
	float: right;
    vertical-align: top;
	margin-bottom: 15px;
	line-height: 100%;
	font-weight: 100;
	font-size: 100%;
}
nav {
	line-height: 0px;
}
a:hover {
	color: yellowgreen;
	border-color: yellowgreen;
}
a a:hover, a:visited, a:link, a:active {
	color: #efefef;
	text-decoration: none;
	line-height: 0px;
}
button:hover {
	background-color: rgba(0, 0, 0, 0.35);
	color: yellow;
}
button:focus {
	outline: yellow;
}
#list {
    clear: right;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	position: relative;
	display: block;
}
.tile {
	display: block;
	position: absolute;
    overflow: hidden; 
	background-color: grey;
	padding: 0px;
}
.tile img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto; 
    width: 100%;
    height: auto;
    vertical-align: middle
}
.layout {
	color: #efefef;
	margin-bottom: 15px;
}
.layout label {
	margin-right: 15px;
	cursor: pointer;
}
.layout label:hover {
	color: yellowgreen;
}
.layout input {
	margin-right: 3px;
}
#menu {
	color: #efefef;
	margin-bottom: 15px;
}